.app{
  background-color: #000000;
}

.gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(to top, #f6fafa, #f9fdfc, #f4f8f6, #eef1f1);
  background: linear-gradient(to top, #5bd9e2c9, #47e3eec9, #53eccbc9, rgba(30, 245, 198, 0.714));
  }

.col-lg-6{
  background-color: rgb(10,10,10);

}
.text1{color:white;
}
.mt-1{
  color: white;
}
.form-outline{
  color: white;
}
.white-bg {
  background-color: #ffffff; 
  border-radius:5px;
}

.white-text {
  color: #080808; 
}


  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }