.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  padding: 10px;
  color: gray;
  background-color: white;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: rgb(68, 68, 68);
  }
/* Estilos para la clase "custom-select" en pantallas de celular */
@media (max-width: 768px) {
  .custom-select {
    width: 50% !important; /* Cambiar el ancho a 50% en pantallas de celular */
  }
}

}
