.single {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 12px;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: #555;
            }

            .detailItem {
              margin-bottom: 1.5vw !important;
              font-size: 1px;
              display: flex;
              flex-direction: row;

              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }
      .right {
        flex: 1;
        margin-left: 60vw; /* Espacio entre la sección izquierda y la imagen */
        position: relative;
        top: -35vw; /* Ajusta este valor negativo para subir la imagen más */
        img {
          /* Hide the image on screens with a maximum width of 768px */
          @media screen and (max-width: 768px) {
            display: none;
          }

        }
      }

      // Move these styles out of the .left block to target them correctly
      .long-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .title1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }

  .dni {
    padding-top: 10vw;
    padding-right: 15vw;
    border: #555;
    border-radius: 20px;
  }

  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 10px 20px;
  }

  .title {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
  }
}
