.datatable {
  height: 800px;
  padding: 20px;
  background-color: #f5f3ff;

  .cellAction {
    gap: 50px;
    
    .viewButton, .deleteButton {
      font-size: 20px;
      padding: 1px 3px;
    }
  }
  

     .cellWithImg .cellImg {
      width: 50px;
      height: 50px;
      margin-right: 5px;

    }
    

   
  .datatableTitle {
    width: 100%;
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    h1{
      font-size: 50px;
    }

    .link {
      text-decoration: none;
      color: green;
      border: 1px solid green;
      cursor: pointer;
      float: left;
      margin-right: 100px;
      padding: 10px 20px;
    }
  }


  .datagrid {
    font-size: 19px;
    background-color: #ffffff;
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {

      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 10px;

    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.ALQUILADO {
      background-color: rgba(0, 128, 0, 0.212);
      color: green;
    }

    &.RESERVADO {
      background-color: rgba(255, 217, 0, 0.192);
      color: goldenrod;
    }

    &.DISPONIBLE {
      background-color: rgba(0, 17, 255, 0.192);
      color: rgb(20, 23, 220);
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
  .boton3 {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   .boton3 > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .boton3:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .boton3:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }
   @media (max-width: 860px) {
    .datatable {
      height: auto;
      padding: 10px;
    }
    
  }
   
  .boton3 {
      height: 2em;
      width: 70px;
      font-size: 12px;
    }
    
    .boton3 > svg {
      font-size: 14px;
    }
  }

a{
  text-decoration: none;
  color: black;
}