body {
  margin: 0;
  padding: 0;
  overflow-y: scroll !important; /* Agrega la barra de desplazamiento vertical */
  overflow: hidden;
  border-right: 1px solid #f0fffb; /* Cambiar a #f0fffb para cambiar el color */
}

/* Agrega un contenedor adicional y aplica el desplazamiento solo en la dirección vertical */
.container89 {
  width: 100%; /* O ajusta el ancho según tus necesidades */
  height: 100vh; /* Ajusta la altura según tus necesidades */
  overflow-y: scroll; /* Agrega la barra de desplazamiento vertical */
}
.botondrop {
  padding-left: 0.2%;
  margin-top: 1%;
  width: 20%;
}

.drop {
  margin-left: 40%;
}


.estatus{
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuredChart2 {
  width: 170px;
  height: 170px;
  padding-left: 20px;
}

.home {
  display: flex;
  background-color: #f0fffb;

  .widget.order {
    .left .title {
      font-size: 24px;
      text-align: center;
      line-height: 1.2;
    }

    .left .counter {
      font-size: 35px;
      left: 40px;
      line-height: 1.2;
    }
  }

  .homeContainer {
    flex: 6;

    .ingreso {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      padding: 20px;
      padding-top: 3vw;
      gap: 20px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .counter {
        height: 80px;
        padding-left: 17vw;
      }

      .title {
        padding-left: 17vw;
        font-size: 20px;
      }
    }

    .widgets{
      display: flex;
      flex-direction: row;
      width: 1;
      padding: 40px;
      gap: 60px;
      .counter{
        height: 80px;
        padding-left: 5.5vw;
      }
      .title{
        padding-left: 3.5vw;
        font-size: 20px;
      }
    }

    

    .widgetC{
      .counter{
        height: 80px;
        padding-left: 7.5vw;
      }
      .title{
       text-align: center;
        font-size: 20px;
      }
    }


    .widgetE{
      .counter{
        height: 80px;
        padding-left: 6.7vw;
      }
      .title{
       padding-left: 3.2vw;
        font-size: 20px;
      }
    }
    .widgetB{
      .counter{
        height: 80px;
        padding-left: 5.5vw;
      }
      .title{
       padding-left: 5vw;
        font-size: 20px;
      }
    }
    .widgetU{
      .counter{
        height: 80px;
        padding-left: 7.2vw;
      }
      .title{
       padding-left: 5vw;
        font-size: 20px;
      }
    }


    .widgetU,.widgetB, .widgetC, .widgetE {
      display: flex;
    
      flex-direction: row;
      padding: 40px;
      gap: 60px;

    }

    .charts {
      padding: 15px;
      gap: 10px;
      display: flex;
      flex-wrap:inherit;
      flex-direction: row ;
    }

    .listContainer {
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
    

      .listTitle {
        font-size: 24px;
        color: gray;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
      }
    }
  }
}

@media only screen and (max-width: 1370px) {
  .ingreso .counter {
    width: 100%;
    font-size: 35px;
    margin-bottom: 20px;
  }


  .widgets{
    display: flex;
    flex-direction: row;
    width: 1;
    padding: 10px !important;
    gap: 20px !important;
    .counter{
      height: 80px;
      padding-left: 4vw!important;
    }
    .title{
      padding-left: 4.5vw;
      font-size: 20px;
    }
  }

  .ingreso .title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
  }


  .charts {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1290px) {
  .ingreso .counter {
    margin-left: 0;
  }



  .ingreso .title {
    margin-left: 0;
  }
}


@media only screen and (max-width: 900px) {

  .homeContainer{
    width: 100% !important;
  }
  .login{
    padding-left:100%  !important;
    
  } 

  .widget {
    margin: 5px;
    padding: 10px;
  }
  
  .widget.ingreso {
    width: 95%;
  }
  
  .widget.widgetB {
    height: 200px;
    padding: 1%;
    gap: 10%;
  }
  
  .widget.widgetC {
    width: 95%;
  }
  
  .counter {
    margin-left: 10%;
    font-size: 40px;
    width: 80%;
    white-space: nowrap;
    text-align: center;
  }
  
  .title {
    margin-left: 5%;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
  }
  
    
  }

  .charts {
    display: flex !important;
    flex-direction: column ;
    font-size: 14px !important;
    margin-top: 10px !important ;
    width: 100% !important;
    
  }
  .chart {
    display: flex !important;
    flex-direction: column ;
    font-size: 14px !important;
    margin-top: 10px !important ; 
    width: auto;   
  }
   .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: rgb(153, 13, 13);
      width: 100% !important;
      padding: 10px;
    }
    
    .navbar-brand {
      font-size: 10px;
    }

 @media only screen and (max-width: 850px) {

  .homeContainer{
    width: 100% !important;
    padding: 0;
  }

  .login{
    padding-left: 100% !important;
   
 
  }
  .ingreso{
    width: 100% !important;
    height: auto !important;
    padding: 1px !important;
    text-align: center ;
    align-items: center ;
  } 

  
  .widgets{
    display: flex;
    flex-direction: column!important;
    padding: 40px;
    gap: 60px;
  }
  

  .widgetU {
    height: auto !important;
    padding: 1px !important;
    gap: 1px;
  }
  .widgetE {
    height: auto !important;
    padding: 1px !important;
    gap: 1px;
  }

  .widgetB {
    height: auto !important;
    padding: 1px !important;
    gap: 1px;
  }
  
  .widgetC {
    height: auto !important;
    padding: 1px !important;
    gap: 1px;
  }
  
  
  .counter {
    margin-left: 0;
    font-size: 30px !important;
    width: auto !important;
    white-space:normal;
    text-align: center !important;
  }
  
  .title {
    margin-left: 0;
    font-size: 16px;
    white-space: normal;
    text-align: center;
  }
  
  .charts {
    display: flex !important;
    flex-direction: column ;
    font-size: 14px !important;
    margin-top: 10px !important;
    width: 100% !important;
  }
  
  .chart {
    display: flex !important;
    flex-direction: column ;
    font-size: 14px !important;
    margin-top: 10px !important;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 100% !important;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 18px;
  }

  .drop{
    width: 100% !important;
    align-items: center !important;
    text-align: center;
    margin: 0%;
    
    
  }
   }

   @media (max-width: 480px) {
  .homeContainer{
    width: 100% !important;
    padding: 0;
  }

  .login{
    padding-left: 100% !important;
   
 
  }
  .ingreso{
    width: 100% !important;
    height: auto !important;
    padding: 1px !important;
    
  } 

  .widgets{
    display: flex;
    flex-direction: column!important;
    padding: 40px;
    max-width: 100%;
    height: auto;
    gap: 60px;
    .counter{
      height: 79px;
    }
  }
  
  .widgetU {
    padding: 1px !important;
    gap: 1px;
      .counter{
        padding-left: 27vw !important;
      }
      .title{
        padding-left: 27vw !important ;
      }
    }
  .widgetE {
    padding: 1px !important;
    gap: 1px;
    .counter{
      padding-left: 17vw !important;
    }
    .title{
      padding-left: 17vw !important ;
    }
  }
  
  .widgetB {

    padding: 1px !important;
    gap: 1px;
    .counter{
      padding-left: 22vw !important;
    }
    .title{
      padding-left: 22vw !important ;
    }
  }
  
  .widgetC {

    padding: 1px !important;
    gap: 1px;
    .counter{
      padding-left:  22vw !important;
    }
    .title{
      padding-left: 18vw !important ;
    }
  }
  
  .counter {
    margin-left: 0;
    font-size: 30px !important;
    width: auto !important;
    white-space:normal;
    text-align: center !important;
  }
  
  .title {
    margin-left: 0;
    font-size: 16px;
    white-space: normal;
    text-align: center;
  }
  
  .charts {
    display: flex !important;
    flex-direction: column !important ;
    font-size: 14px !important;
    margin-top: 10px !important;
    width: 100% !important;
  }
  
  .chart {
    display: flex !important;
    flex-direction: column ;
    font-size: 14px !important;
    margin-top: 10px !important;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 100% !important;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 18px;
  }

  .drop{
    width: 50% !important;
    align-items: center;
    font-size: 1px !important;
    
  }
   }