/* Consulta de medios para resoluciones de celular */
@media (max-width: 768px) {
    .popup-content {
      display: flex;
      flex-direction: column;
    }
  
    .popup-content > div {
      margin-bottom: 20px;
    }
  }


  .hul{
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(0, 128, 0, 1);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 40px !important;
    border-radius: 40px !important;
  }