.popup-container {
  background-color: #f0fffb;
  width: 100%;
  /* height: 100%; Elimina esta línea */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto; /* Agrega desplazamiento vertical para el modal */
  max-height: 100vh; /* Establece una altura máxima para el modal */
}

.jul {
  display: inline-block;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 17px;
  padding: 13px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
}
.jul2 {
  display: inline-block;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 17px;
  padding: 13px;
  width: 200px;
  margin: 50px;
  transition: all 0.5s;
  cursor: pointer;
}
h3 {
  padding-right: 40vw;
  width: 100%;
}
label{
  padding-left: 2vw;
}
.idcliente{
margin-bottom: 30px ;
}
.text{
  padding-left: 10vw !important;
}

.tex2t{
  padding-left: .7vw;
  margin-top: 1vw;
}


.popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre las columnas */
}

h3{
padding-left: 35vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los elementos en cada columna */
}

/* Resto de tus estilos CSS existentes */
.popup-content {
  overflow-y: auto; /* Añade desplazamiento vertical si el contenido excede la altura */
  max-height: 100vh; /* Establece una altura máxima para el contenido del Popup */
}

.deslock{
  margin-left: -2vw;
}


.close-button:hover {
  background-color: #aaa;
}

.pap{
  margin-bottom: 10px;
}

.blocked{
  margin-left: 2.2vw;
}

.estado {
  margin-top: 10px;
}


@media only screen and (max-width: 768px) {
  label {
    text-align: center;
    padding-left: 30vw !important;
  }

.estado{
  padding-right: 30vw !important ;
}
  .titulo1{
    padding-left: 5vw !important;
  }

  .maquinoide{
    padding-right: 30vw !important;
  }

  .tex2t {
    padding-left: 0 !important;
    text-align: center;
    margin-top: 1vw;
  }

  .switches {
    text-align: center;
    padding-left: 0;
  }

  .estado {
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
  }

  .texto{
    padding-left: 5vw !important;
  }

  .blocked{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0 !important;
  }


  .config {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0 !important;
  }

.control{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0 !important;
}
  .input-field {
    width: 50% !important;
    margin: 0 auto !important;
    padding-left: 0 !important;
  }
.switches{
  text-align: center;
  padding-left: 0 !important;
}
  .titulo {
    padding-left: 0 !important;
    text-align: center;
    label{
      padding-left: 10vw !important;
    }
  }

  .input-field2 {
    width: 50% !important; /* Puedes ajustar el valor para establecer un ancho deseado */
    margin-left: 30vw !important;
  }
 .vai{
  margin-left: 22vw !important;
 }

}


.config {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.estado {
  display: flex;
  align-items: center;
}


.close-button {
  margin-top: 10px;
  background-color: #bb4d4d;
  color: #fffcfc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 95vw;
  font-size: 16px;
}


.input-field {
  width: 10vw; /* Puedes ajustar el valor para establecer un ancho deseado */

}
.input-field2 {
  width: 10vw; /* Puedes ajustar el valor para establecer un ancho deseado */
  margin-left: 2vw;
}
.switches {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.switch-label {
  font-weight: bold;
  margin-left: 10px;
}

.switch-option {
  display: flex;
  align-items: center;
}

.switch-option a {
  margin-right: 10px;
}

.luz{
  margin-left: 2.5vw;
}

.switch-papu{
  margin-left: 3.5vw;
  margin-top: .5vw;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre grupos */
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre elementos */
}

.form-group label {
  width: 150px; /* Ancho fijo para las etiquetas */
}
