*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
  }
  $bgColor:#020438;
  $boxColor:#020438;
  $waterFColor:#4D6DE3;
  $waterBColor:#C7EEFF;
  
  body {
    background:$bgColor;
    font: 14px/1 'Open Sans', helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  .box{
    height: 280px;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $boxColor;
    border-radius:100%;
    overflow: hidden; 
    .percent{
      position: absolute;
      left: 0;
      top: 0;
      z-index:3;
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items:center;
      justify-content:center; 
      color:#fff;
      font-size:64px;
    } 
    .water{
      position: absolute;
      left: 0;
      top: 0;
      z-index:2;
      width: 100%;
      height: 100%;
      transform:translate(0,100%);
      background:$waterFColor;
      transition: all .3s;
      &_wave{
        width: 200%;
        position: absolute;
        bottom: 100%;
        &_back {
          right: 0;
          fill: $waterBColor;
          animation: wave-back 1.4s infinite linear;
        }
        &_front {
          left: 0;
          fill: $waterFColor;
          margin-bottom: -1px;
          animation: wave-front .7s infinite linear;
        }
      }
    }
  }
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }