.back{
    p{
        font-size: 35px;
        color: #008cc4;
        background-color: #00ffaa3b;
        border-radius: 7%;
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    }
}

.encabezado {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .drop{
    p{
        font-size: 30px;
    }
  }

  @media only screen and (max-width: 900px) {
    
    .drop{
    margin-left: 65px;
   p{
    font-size: 20px;
   }
    }
  
  }
  
  