.back{
    p{
        font-size: 35p!important;
        color: #ffffff;
        width: 30vw;
        padding-right: 1vw;
        background-color: rgba(0,128,0,255);
        border-radius: 7%;
        margin-top: 30px;
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    }
}

.encabezado {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .drop{
    p{
        font-size: 30px;
        padding-left: 7vw;
    }
  }

  .drop:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 900px) {
    
    .drop{
   p{
    width: 90vw !important;
    font-size: 30px;
    padding-left: 5vw;
   }
    }
  
  }
  
  