.container {
    text-align: center;
}

.selector {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(0, 128, 0, 1);
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 16px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 40px !important;
    border-radius: 40px !important;
    
    a{
        color: #ffffff;
    }
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

@media only screen and (max-width: 900px) {
    .container {
        text-align: center !important;
     
    }
    
    .selector {
        padding-left: 27vw;
        margin: 20px !important;
        display: flex;
        width: 87vw;
        flex-direction: column;
        border-radius: 40px  !important;
}
}